// Micro-clearfix mixin.
// See: http://goo.gl/y82qLF
@mixin clearfix {
  &:after {
    clear: both;
    content: "";
    display: table;
  }
}

.container > .wrapper {
  .message__row {
    @include clearfix;

    .message__edit {
      padding-bottom: 0px;

      .form-actions {
        margin-top: 0px;

        &.-inline li {
          float: right;
          margin-left: 24px;
        }

        .delete {
          background-color: #ff4747;
        }
      }
    }

    .message__title {
      padding-left: 0px;
    }
  }
}


