.container > .wrapper {
  .message__row {
    &:after {
      clear: both;
      content: "";
      display: table;
    }

    .message__edit {
      padding-bottom: 0px;

      .form-actions {
        margin-top: 0px;

        &.-inline li {
          float: right;
          margin-left: 24px;
        }
      }
    }

    .message__title {
      padding-left: 0px;
    }
  }
}

.form-actions {
  .delete {
    background-color: #ff4747;
  }
}


